.reports-container {
  width: 100%;
  height: 100%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  margin-top: auto;
  background-color: rgb(243, 244, 252);
  position: relative;

  &__top {
    width: 100%;
    height: 43%;
    // border: 1px black solid;
    // padding: 0.3rem;
    display: flex;
    // overflow-x: scroll;

    &--report {
      position: relative;
      width: 19%;
      margin: 0 0.5%;
      //   flex-grow: 1;
      display: flex;
      flex-direction: column;
      // justify-content: flex-start;
      align-items: center;
      border-radius: 4px;
      box-shadow: 4px 4px 6px 0.2px rgba(31, 30, 30, 0.425);
      padding-top: 0.5rem;
      background-color: white;

      &-header {
        padding: 0.8rem;
        width: 100%;
        display: flex;
        justify-content: space-between;
      }
      &-date {
        display: flex;
        align-items: center;
        font-size: 12px;
        margin: 0.1rem 0 0 -5rem;
        color: grey;
      }
      &-filter {
        width: 80px;
        height: 120;
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid rgb(255, 255, 255);
        border-radius: 4px;
        font-size: 14px;
        background-color: transparent;
        color: rgb(133, 133, 133);

        box-shadow: -4px 4px 8px #c1c1c196, 4px -4px 8px #ffffff;
        cursor: pointer;
      }
    }
    &--progressBar {
      position: relative;
      width: 85%;
      margin: auto;
      height: 30px;
      background-color: rgba(139, 139, 139, 0.288);
      box-shadow: inset 2px 2px 10px#6868685e;
      border: 1.5px solid linear-gradient(to right, #a8b9f4, #8bfea9, #99dfcd);
      border-radius: 40px;
      color: grey;

      &-animation {
        animation: fadeInOut 1s ease-in infinite forwards;
      }
      &-filler {
        // width: 20%;
        position: absolute;
        left: 0px;
        top: 0px;
        height: 100%;
        background-image: linear-gradient(
          to right,
          #a8b9f4b6,
          #8bfea9,
          #99dfcd
        );
        // background-color: #98ff98;
        border: 1.5px solid linear-gradient(to right, #a8b9f4, #8bfea9, #99dfcd);
        transition: all 1s ease-in;
      }
      &-startTick {
        position: absolute;
        left: 0px;
        top: 93%;
      }
      &-endTick {
        position: absolute;
        right: 0;
        top: 100%;
      }
    }
  }

  &__bottom {
    margin-top: 1rem;
    margin-left: 0.1rem;
    width: 100%;
    height: 57%;
    padding: 0.5rem;
    display: flex;
    flex-direction: column;
    background-color: white;
    border-radius: 4px;
    box-shadow: 8px 8px 10px 0.2px rgba(31, 30, 30, 0.425);

    &--header {
      position: relative;
      width: 100%;
      height: 12%;
      display: flex;
      align-items: center;
      justify-content: space-between;

      &-headingsConainer {
        display: flex;
        height: 100%;
      }

      &-headerBottomLine {
        position: absolute;
        left: 0;
        top: 96%;
        width: 100%;
        height: 2px;
        background-color: rgb(201, 196, 196);
        z-index: 1;
      }
      &-headerHighlighter {
        position: absolute;
        top: 100%;
        // width: 12.5%;
        height: 2px;
        background-color: seagreen;
        z-index: 2;
        transition: all 0.3s;
      }
      &-heading {
        padding: 0.1rem;
        margin-right: 1rem;
        text-align: center;
        cursor: pointer;
        transition: all 0.3s linear;
      }
    }

    &--reports {
      padding: 10px;
      width: 100%;
      height: 90%;
      // border: 1px solid black;
      margin-top: 1rem;
    }
  }

  &__overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: fadeIn 0.75s ease-in-out;

    &--filterContainer {
      background-color: whitesmoke;
      width: 20%;
      height: 30%;
      border-radius: 8px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      &--selectOptions {
        width: 100%;
        display: flex;
        justify-content: center;
      }
      &--submit {
        display: inline-block;
        cursor: pointer;
        text-decoration: none;
        font-size: 14px;
        line-height: 16px;
        background-color: #33082b;
        border: none;
        padding: 0.35rem 1rem;
        color: #fff;
        outline: 2px solid #fff;
        border: 2px solid #33082b;
        outline-offset: -2px;
        transition: all 150ms ease;

        &:hover {
          outline-offset: -6px;
          text-decoration: none;
          color: white;
          // font-size: 12px;
        }
        &:focus {
          outline-offset: -6px;
          color: white;
          text-decoration: none;
        }
      }
      &--error {
        color: red;
        font-size: 12px;
        text-decoration: underline;
      }
      &--closeImage {
        position: absolute;
        left: 58.5%;
        top: 35.5%;
        font-size: 20px;
        height: 25px;
        font-weight: bold;
        transition: all 250ms ease;
        cursor: pointer;
        text-shadow: 1px 1px 2px rgb(87, 87, 87);
        &:hover {
          text-shadow: 3px 3px 6px rgb(87, 87, 87);
        }
      }
    }
  }
}

.monthSelect {
  width: 50%;
  height: 40px;
  font-size: 14px;
  line-height: 19px;
  cursor: pointer;
  &-defaultContainer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    &--monthName {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      img {
        height: 25px;
        transition: all 1s;
      }
    }
  }

  &-allMonthsContainer {
    @include scrollbars(
      5px,
      linear-gradient(180deg, #6c1d5f 40%, #33082b 60%),
      #fff
    );

    border: 1px solid rgba(222, 228, 232, 0.5);
    width: 100%;
    height: 10rem;
    overflow: auto;
    position: absolute;
    left: -1%;
    top: 95%;
    background-color: whitesmoke;

    &__month {
      padding: 5px;
      margin-bottom: 1px;
      padding-left: 10px;
      color: rgb(133, 133, 133);
      transition: all 0.5s;
      &:hover {
        color: white;
        background-color: #33082b;
        cursor: pointer;
      }
    }
  }
}
.yearSelect {
  width: 40%;
  height: 40px;
  font-size: 14px;
  line-height: 19px;
  cursor: pointer;
  &-defaultContainer {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    &--yearName {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      img {
        height: 25px;
        transition: all 1s;
      }
    }
  }

  &-allYearsContainer {
    @include scrollbars(
      5px,
      linear-gradient(180deg, #6c1d5f 40%, #33082b 60%),
      #fff
    );
    animation: growOutYear 1s linear;
    border: 1px solid rgba(222, 228, 232, 0.5);
    width: 100%;
    height: 4rem;
    overflow: auto;
    position: absolute;
    left: -1%;
    top: 95%;
    background-color: whitesmoke;

    &__year {
      padding: 5px;
      padding-left: 10px;
      color: rgb(133, 133, 133);
      transition: all 0.5s;
      &:hover {
        color: white;
        background-color: #33082b;
        cursor: pointer;
      }
    }
  }
}
.growOutAnimation {
  animation: growOut 1s linear;
}

.recharts-wrapper svg {
  overflow: inherit !important;
}

.custom-tooltip {
  color: #363636;
  background-color: rgba(151, 151, 151, 0.425);
  width: 100%;
  text-align: center;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    // background-color: rgba(99, 99, 99, 0.123);
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    // background-color: rgba(128, 128, 128, 0.123);
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes growOut {
  0% {
    height: 0%;
  }

  100% {
    height: 10rem;
  }
}

@keyframes growOutYear {
  0% {
    height: 0%;
  }

  100% {
    height: 4rem;
  }
}

@keyframes growIn {
  0% {
    height: 3rem;
  }

  100% {
    height: 0rem;
  }
}
