.report-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  height: 100vh;
}

.report-container__left {
  position: fixed;
  right: 0;
}

.mcd-menu {
  list-style: none;
  padding: 0;
  margin: 0;
  background: #fff;
  border-radius: 2px;
  width: 20rem;
  height: 95vh;
}
.mcd-menu li a {
  display: block;
  text-decoration: none;
  font-size: 0.9rem;
  padding: 30px 20px;
  color: #777;
  text-align: left;
  height: 5.7rem;
  border-bottom: 1px solid #eee;
}

.mcd-menu li a strong {
  display: block;
  text-transform: uppercase;
}
small {
  text-transform: uppercase;
  margin-right: 1rem;
  margin-left: 1rem;
}
.mcd-menu li:hover > a {
  color: #e67e22;
}

.report-container__right {
  left: -2rem;
  width: 70vw;
  height: 100vh;
  display: grid;
  grid-gap: 2rem;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto;
  margin-left: 2rem;
  margin-right: 2rem;
  margin-bottom: 4rem;
  &__BarChart {height: 50%;

    margin-top: 2rem;
    grid-column: 1/-1;
    box-shadow: 3px 3px 5px 6px rgb(128, 125, 125);
  }
  &__AverageEfficiency {
    box-shadow: 3px 3px 5px 6px rgb(128, 125, 125);
    height: 50%;
  }

  &__Pierating {
    box-shadow: 3px 3px 5px 6px rgb(128, 125, 125);
    height: 50%;
  }

  &__SLAUser {
    box-shadow: 3px 3px 5px 6px rgb(128, 125, 125);
    height: 50%;
  }

  &__ViolationByStatus {
    box-shadow: 3px 3px 5px 6px rgb(128, 125, 125);
    height: 100%;
  }

  &__ViolationByTime {
    box-shadow: 3px 3px 5px 6px rgb(128, 125, 125);
    grid-column: 1/-1;
    margin-bottom: 4rem;
    height: 100%;
  }

  &__AchievedVsViolated {
    box-shadow: 3px 3px 5px 6px rgb(128, 125, 125);
    height: 100%;
  }
}

.averageEfficiency {
  text-align: center;
  text-transform: capitalize;
  font-size: 2rem;
  color: #777;
  

  &__hour {
    font-size: 10rem;
  }

  &__hrs {
    font-size: 4rem;
    letter-spacing: 10px;
  }
}

.comin-soon-heading{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
}