.reset{
    width: 98%;
    height: 97%;
    margin: auto;
    background-image: linear-gradient(to right bottom, #6C1D5F 19%, #300d2a 81%);
    background: cover;
    background-position: top;
    position: relative;
    clip-path: polygon(0 3%, 100% 0, 100% 97%, 0 100%);
    &__form{
        position: absolute;
        top:50%;
        left: 50%;
        transform: translate(-50%,-50%);
        text-align: center;
    }
    &__did-Password-Reset{
        color: white;

        &--blink{
            animation: blink 1s linear infinite;
        }
    }
    &--input{
        margin-bottom: 1.5rem;
        width: 20rem;
        height: 3rem;
        border-radius: 4px;
        border: none;
        outline-offset: 3px;
        transition: all .1s ease-out;
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.678);
        
        &:focus{
            outline: 3px solid white;
            // transform: translateY(-1px);
            box-shadow: 0 2rem 3rem rgb(0, 0, 0);
        }
        &:focus reset-eye--closed{
            margin-left:0 ;
        }
    }
    &__emailInput{
        color: rgba(0,0,0,.85);
        background-color: rgba(255,255,255,.65);
    }

    &__btn:link,&__btn:visited{
        display: inline-block;
        text-decoration: none;
        font-size: 1.2rem;
        padding: 5px 40px;
        // border-radius: 100px;
        position: relative;
        transition: all .2s;
        
    }

    &__btn:hover{
        transform: translateY(-4px);
        box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.678);
    }
    &__btn:active{
        transform: translateY(-1px);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.678);
    }

    &__btn--white{
        background-color: white;
        color:#300d2a;

        &::after{
            background-color: white;
        }
    }
    &__btn::after{
        content: "";
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
        // border-radius: 100px;
        z-index: -1;
        transition: all .4s ease-out;
    }

    &__btn:hover::after{
        transform: scaleX(1.1) scaleY(1.2);
        opacity: 0;
    }
    &__btn:hover{
        color: #300d2a;
    }

    &__password{
        &--visible{
        margin-left: -2rem;
        z-index: 1000;
    }
    &-eye--closed{
        height: 16px;
        cursor: pointer;
        z-index: 1000;
    }
    &-eye--open{
        height: 16px;
        cursor: pointer;
    }
    }
    
    

    
}


@keyframes blink{
    50%{
        opacity: 0;
    }
}