@mixin scrollbars($size, $foreground-color, $background-color: mix($foreground-color, black,  50%)) {
    // For Google Chrome
    &::-webkit-scrollbar {
      width:  $size;
      height: $size;
    }
  
    &::-webkit-scrollbar-thumb {
      background: $foreground-color;
      
      border-radius: 10px 0 0 10px;
    }
  
    &::-webkit-scrollbar-track {
      background: $background-color;
    }
  
    // For Internet Explorer
    & {
      scrollbar-face-color: $foreground-color;
      scrollbar-track-color: $background-color;
    }
  }


.sideBar{
    @include scrollbars(5px,linear-gradient(180deg, #6C1D5F 40%, #33082b 60%), #FFFAFA);
    position: absolute;
    right: -100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background: white;
    box-shadow: 1px 2px 10px 6px rgba(0,0,0,0.425);
    z-index: 200;
    animation:  slide-open 1.3s forwards;
    overflow-y:scroll;
}
.sideBar-heading-wrapper{
   text-align: center;
   img:hover{
    cursor: pointer;
   }
}
.double-left-arrow:hover{
    cursor: pointer;
}

.sideBar-heading-wrapper{
    width: 100%;
    height: 4rem;
    font-size: 20px;
}
.ticket-replies-wrapper{
    flex-grow: 2;
    width: 100%;
    text-align: center;
}
.individual-reply-wrapper-left{
    width: 98%;
    height: 150px;
    display: flex;
    align-items: flex-start;
    margin: 10px auto;
    margin-left: 5px;
    // border: 1px solid rgba(0,0,0,0.425);
    // padding: 10px;
    // border-radius: 5px;
    // text-align: left;
}
.individual-reply-wrapper-right{
  width: 100%;
  height: 150px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin: 5px auto;
  // border: 1px solid rgba(0,0,0,0.425);
  // padding: 10px;
  // border-radius: 5px;
  // text-align: left;
}
.message-username-seperator{
  position: absolute;
  height: 1px;
  width: 100%;
  border: .5px solid rgba(77, 74, 74, 0.418);
  left: 0;
  top: 21%;
}
.reply-body-wrapper{
  position: relative;
  width: 90%;
  height: 100%;
  border: 1px solid rgba(0,0,0,0.425);
  border-radius: 5px;
  padding: 10px;
  text-align: left;
}
.reply-createdOn-wrapper{
    position: absolute;
    bottom: 0   ;
    right: 0;
    padding: 5px;
}
.sideBar .close {
    right:-100%;
}

@keyframes slide-open {
    100% { right: 0 }
}
