
@mixin scrollbars($size, $foreground-color, $background-color: mix($foreground-color, black,  50%)) {
    // For Google Chrome
    &::-webkit-scrollbar {
      width:  $size;
      height: $size;
    }
  
    &::-webkit-scrollbar-thumb {
      background: $foreground-color;
      
      border-radius: 10px 0 0 10px;
    }
  
    &::-webkit-scrollbar-track {
      background: $background-color;
    }
  
    // For Internet Explorer
    & {
      scrollbar-face-color: $foreground-color;
      scrollbar-track-color: $background-color;
    }
  }


.TicketListContainer{
    height: 100vh;
}
.bottom-container{
    height: 95vh;
    background-color: #FFFAFA;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    font-family: "Proxima Nova";
    @include scrollbars(8px,linear-gradient(180deg, #6C1D5F 40%, #33082b 60%), #FFFAFA);
}
.filters-wrapper{
    width: 100%;
    height: 75px;
    padding: 10px;
    z-index: 10;
    margin-top: 20px;   
    padding: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    box-shadow: 2px 2px 4px 2px rgba(0,0,0,.425);

    .filters-right-wrapper{
        width: 50%;
        padding-left: 40px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        form{
            height: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }
    }

    .filter-select{
        color: black;
        background-color: #6c1d5f88;
        height: 30px;
        padding: 3px;
        border: transparent;
        text-transform: uppercase;
        option{
            text-transform: uppercase;
        }
       }

    
    input[type="submit"]{
        background-color: #300d2a;
        color:white;
        align: right;
    }
}

.ticketListingTable{
    width: 100%;
    height: 20vh;
    border-collapse: separate;
    border-spacing: 0 3px;
    overflow: auto;
    margin-top: 20px;
    
    a{
        color: black;
        text-decoration: none;
        font-weight: normal;
        line-height: 24px;
        transition: all ease-in-out 0.3s;

        &:hover{
            text-decoration: none;
        }
    }
    tr{
        height: 2.5rem;
        background-color: #FFFAFA;
        margin-bottom: 100px;
        font-family: "Proxima Nova";
        font-size: 14px;
        color: black;
        transition: all ease-in-out 0.3s;

        &:hover{
            box-shadow: 0px 1px 50px 2px rgb(0, 0, 0);
        }
    }
    th,td{
        padding: 0px 12px;
        text-align: left;
    }
    th{
        color: black;
        background-color: #FFFAFA;
        font-family: "Proxima Nova";
    }
    #header-row{
        background-color: white;
        text-align: left;
        font-size: 14px;
        text-transform: uppercase;
        color: rgba($color: #00000000, $alpha: 0.75);
        th{
            font-weight: normal;
        }
    }
}
.no-updates-row{
    tr{
    color: black;
    font-family: "Proxima Nova";
    font-size: 30px;
    line-height: 30px;
    text-transform: capitalize;
    text-align: center;}
}
body{
    background: #314c72 ;
}
