.TicketListContainer{
    height: 100vh;
}
.bottom-container{
    height: 100%;
    background-color: #FFFAFA;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}
.filter-wrapper{
    width: 100%;
    height: 50%;
}
.form-wrapper{
    width:100%;
    height:20%;
    border: 1px solid rgba(0, 0, 0, 0.418);
    margin-top: 5px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}
.ticketListingTable{
    width: 100%;
    height: 90%;
    border-collapse: separate;
    border-spacing: 0 3px;
    overflow: auto;
    
    a{
        color: black;
        text-decoration: none;
        font-weight: normal;
        line-height: 24px;
        transition: all ease-in-out 0.3s;

        &:hover{
            text-decoration: none;
        }
    }
    tr{
        height: 2.5rem;
        background-color: #FFFAFA;
        margin-bottom: 100px;
        font-family: "Proxima Nova";
        font-size: 14px;
        color: black;
        border-top: 0.5px solid black;
        transition: all ease-in-out 0.3s;

        &:hover{
            box-shadow: 0px 1px 50px 2px rgb(0, 0, 0);
        }
    }
    th,td{
        padding: 0px 12px;
        text-align: center;
    }
    th{
        color: black;
        background-color: #FFFAFA;
        font-family: "Proxima Nova";
    }
    #header-row{
        background-color: white;
        text-align: left;
        font-size: 14px;
        text-transform: uppercase;
        color: rgba($color: #00000000, $alpha: 0.75);
        th{
            font-weight: normal;
        }
    }
}table{
    background: rgb(221, 213, 213) ;
    
}
body{
    background: #314c72 ;
}
