.approvalHolder{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: -2.5px;
    &__approvalStatus{
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        &--Approved{
            margin-right: 5px;
            padding: 5px 12px 0 12px;
            border-bottom: 3px solid white;
            cursor: pointer;
            transition: all 0.5s linear;
        }
        &--Pending{
            margin-right: 5px;
            padding: 5px 12px 0 12px;
            border-bottom: 3px solid white;
            cursor: pointer;
            transition: all 0.5s linear;
        }
        &--Rejected{
            margin-right: 5px;
            padding: 5px 12px 0 12px;
            border-bottom: 3px solid white;
            cursor: pointer;
            transition: all 0.5s linear;
        }
    }

    &__noApprovals{
        position: absolute;
        left: 50%;
        top:50%;
        transform: translate(-50%,-50%);
        font-size: 32px;
        font-family: 'Caveat', cursive;
    }
}

.approvalPopup{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.75);
    z-index: 1000;
    &__content{
        position: absolute;
        left: 50%;
        top:50%;
        padding: 10px;
        transform: translate(-50%,-50%);
        background-color: white;
        width: 30%;
        border-radius: 5px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        outline-offset: 10px;
        &--comment{
            padding: 10px;
            &:focus{
                box-shadow: 0 0 3pt 2pt rgb(0, 0, 0);
            }
            margin-bottom: 10px;
        }
        &--closeIcon{
            position: absolute;
            top: .3rem;
            right: .5rem;
            font-weight: 900;
            cursor: pointer;
        }
        &--errorMessage{
            color: red;
            font-size:16px;
            margin-bottom: 10px;
        }
        &--successMessage{
            color: rgb(1, 61, 1);
            font-size:16px;
            margin-bottom: 10px;
        }
    }
}
.approval-btn:link,  
.approval-btn:visited{
    text-transform: uppercase;
    text-decoration: none;
    border-radius: 5px;
    padding: 10px 30px;
    transition: all .2s ease-out;
    position: relative;
    display: inline-block;
    margin-right: 10px;
}
.approval-btn:hover{
    transform: translateY(-4px);
    text-decoration: none;
    box-shadow: 0 10px 20px #300d2a62;
}
.approval-btn:active{
    transform: translateY(-2px);
    box-shadow: 0 5px 10px #300d2a62;
}
.approval-btn::after{
    content: "";
    display: inline-block;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    position: absolute;
    color:white;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s ease-out;
}
.approval-btn:hover::after{
    transform: scaleX(1.2) scaleY(1.6);
    opacity: 0;
}

.btn-approve{
    border-radius: 5px;
    background-color: #13aa2d;
    color: #fff;
    padding: 10px 15px;
    display: inline-block;
    margin-right: 15px;
    animation: moveinLeft 1s cubic-bezier(0.23, 1, 0.320, 1) forwards;
}

.btn-approve::after{
    background-color: #117221;
    text-decoration: none;
    color: white;
}


.btn-reject{
    border-radius: 5px;
    background-color: #cc0f0f;
    color: #fff;
    padding: 10px 15px;
    display: inline-block;
    animation: moveinLeft 1s cubic-bezier(0.23, 1, 0.320, 1) forwards;
}

.btn-reject::after{
    background-color: #cc0f0f;
    text-decoration: none;
    color: white;
}

.btn-close{
    border-radius: 5px;
    background-color: #300d2a;
    color: #fff;
    padding: 10px 15px;
    display: inline-block;
    animation: moveinLeft 1s cubic-bezier(0.23, 1, 0.320, 1) forwards;
}

.btn-close::after{
    background-color: #300d2a;
    text-decoration: none;
    color: white;
}

/** Sidebar Ticket Details **/
.ticketDetails-wrapper {
    padding: 20px 25px;
    display: flex;
    min-height: calc(100vh - 50px);

    .ticketDetails-left {
        width: 250px;
        border-right: 1px solid #ddd;
        color: #2F4F4F;
        .mobile-wrapper {
            margin: 8px 0 10px;
        }

        .ticketDetails-border {
            border: 1px  dashed  #6C1D5F;
        }

        .ticketDetails-info {
            margin-top: 20px;
            .ticketDetails-info-heading {
                margin-bottom: 15px;
                > h4 {
                    color: #000;
                }
            }
            .ticketDetails-info-item {
                .ticketDetails-info-item-heading {
                    color: #231046;
                    margin-bottom: 0px;
                    font-weight: bold;
                }
                .ticketDetails-info-item-value {
                    margin-bottom: 15px;
                }
            }
        }
    }

    .ticketDetails-right {
        width: calc(100% - 250px);
        #reply-form {
            padding: 0;
            margin-bottom: 40px;
            textarea {
                width: 100%;
            }
            .buttons-wrapper {
                width: 100%;
            }
        }
        padding-left: 20px;
        .ticketDetails-top-bar {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .ticketDetails-approver {
                > p {
                    margin: 0;
                }
            }
        }
        .ticketDetails-origin {
            margin-top: 10px;
            .ticketDetails-origin-message {
                > h5 {
                    font-size: 14px;
                    font-weight: bold;
                    > span {
                        margin-left: 10px;
                        font-weight: normal;
                    }
                }
            }
        }
        .ticketDetails-reply {
            @include scrollbars(8px,linear-gradient(180deg, #6C1D5F 40%, #33082b 60%),#fff );
            max-height: 350px;
            overflow-y: scroll;
            border: 1px solid #ddd;
            margin-top: 25px;
            padding: 10px;
            > ul {
                &.ticketDetails-reply-list {
                    list-style: none;
                    padding: 0;
                    > li {
                        display: flex;
                        width: 80%;
                        margin-bottom: 5px;
                        background-color: #e0e0e0;
                        padding: 10px;
                        border-radius: 10px;
                        &.reply-own {
                            float: right;
                        }
                        > .reply-item {
                            width: 100%;
                            > p {
                                margin-bottom: 0px;
                                font-size: 14px;
                                &.reply-footer {
                                    color: #300d2a;
                                    font-size: 13px;
                                    text-align: right;
                                    font-weight: bold;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}

.ticketDetails-actions{
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    label{
        display: inline-block;
        margin:0;
        margin-left: 3px;
        animation: bounce 1.3s ease-out infinite;
        cursor: pointer;
    }
}

@keyframes bounce {
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(5px);
    }

    100%{
        transform: translateY(0);
    }
}