.report-container{
    margin: auto;
    display:grid;
    height: 100%;
    width:90%;
    grid-gap:20px;
    grid-template-rows:300px 300px;
    grid-template-columns: repeat(2, 1fr);
    //box-shadow: none;
  }
  
   .chart-1{
      margin-top:20px;
      padding:30px;
      
    }
  
  .chart-2{
      margin-top:20px;
      padding:30px;
      
    }
  
  .chart-3{
      padding:30px;
      grid-column:1/-1;
      
    }