.login-container{
   width: 100vw;
   height: 100vh;
   position: relative;
   background-image: url('../images/images.png');
   background-position: center;

    .login-form-container{
        width: 25vw;
        height: 43.51vh;
        position: absolute;
        left:37.2%;
        top:29.77%;

        #username{
            position: absolute;
            left: 3%;
            top: 33%;
            width: 300px;
            height: 32px;
            font-family: "Proxima Nova";
            padding:5px;
            background: #FFFFFF 0% 0% no-repeat padding-box;
            border-radius: 4px;
            border: none;
            opacity: 1;
        }
        #password{
            position: absolute;
            left: 3%;
            top: 48%;
            width: 300px;
            height: 32px;
            font-family: "Proxima Nova";
            padding:5px;
            background: #FFFFFF 0% 0% no-repeat padding-box;
            border-radius: 4px;
            border: none;
            opacity: 1;
        }
        #submit{
            position: absolute;
            left: 3%;
            top: 73%;
            width: 300px;
            height: 35px;
            color: white;
            background: #9D92B2 0% 0% no-repeat padding-box;
            border: none;
            border-radius: 4px;
            opacity: 1;
        }
    }
}
.logo-container{
    position: absolute;
    background: transparent url('../images/logo.svg') no-repeat 0% 0% padding-box;
    height: 30px;
    width: 89px;
    left: 45.7%;
    top: 32.3%;
}

.login-text-container{
    position: absolute;
    top:37.5%;
    left:44%;
    text-align: left;
    font-family: "Proxima Nova";
    font-size:20px;
    line-height: 24px;
    font-style: medium;
    font: Medium 20px/24px Proxima Nova;
    letter-spacing: 0.8px;
    color: #FFFFFF;
    opacity: 1;
}
.footer-logo-container{
    position: absolute;
    top: 92%;
    left: 46%;
    width: 71px;
    height: 25px;
    background: transparent url('../images/Xebia_Logo_Purple_CMYK-LG/Xebia_Logo_Purple_CMYK-LG.png') 0% 0% no-repeat padding-box;
    opacity: 1;
}
.footer-text-container{
    position: absolute;
    top: 95.5%;
    left: 39.125%;
    width: 300px;
    height: 18px;
    text-align: left;
    font: Light 15px/20px Proxima Nova;
    font-style: light;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0px;
    font-family: "Proxima Nova";
    color: #9D92B2;
    opacity: 1;
}

.loader-wrapper{
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.4);
    transition: all ease-in 0.5s    ;
    .loader-icon{
        position: absolute;
        left: 45%;
        top:45%;
    }
}

@media screen and (max-width : 800px){
    .login-container{
        background-image: url('../images/images@2x.png');
    }
}

