$topPosition: 30%;
$leftPositon: 30%;
@import './mixins';
@import './TicketReplyNav';
@import './TicketReplyBottomContainer';
@import './TicketDetails.scss';
@import './AddTicket.scss';
@import './ticketlistcolumn';
@import './ticketContainerNav';
@import './container';
@import './form-wrapper';
@import './form-submit-button';
@import './navbar';
@import './ticketListing.scss';
@import './login.scss';
@import './feedback.scss';
@import './report.scss';


@mixin scrollbars($size, $foreground-color, $background-color: mix($foreground-color, white,  50%)) {
  // For Google Chrome
  &::-webkit-scrollbar {
    width:  $size;
    height: $size;
  }

  &::-webkit-scrollbar-thumb {
    background: $foreground-color;
    
    
  }

  &::-webkit-scrollbar-track {
    background: $background-color;
  }

  // For Internet Explorer
  & {
    scrollbar-face-color: $foreground-color;
    scrollbar-track-color: $background-color;
  }
}
@media (max-width:1300px){
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  @include scrollbars(8px,rgb(49, 76, 114),#181C28 );
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

}










